# In build2, the directory build/ shall not be ignored.
# This entry is for those who have git configured globally to ignore it.
!build/
build/.*
bootstrap/

compile_commands.json

.bdep/

# Local default options files.
#
.build2/local/

# Meson subprojects
# TODO: remove this.
/subprojects/*/

# TODO: remove this.
build/Desktop-Debug/

